.menu-button{
    width: 100%;
    font-size: 30px;
    background-color: #f1831e;
    display: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

.menu-button a{
    color: #fff;
    text-align: left;
    margin-left: 1%;
}

header{
    position: relative;
    width: 100%;
    background-color: #edeff1;
    height: 100vh;

}

header nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-flow: wrap;
}

header  nav .menu ul li{
    list-style: none;
    margin: 20px;
    float: left;
}

header  nav .logo{
    margin: 20px;
}

header  nav .menu ul li a{
    color: #0b0b11;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    
}

header .header_body{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: wrap;
}
header .header_body .box_text{
    text-align: justify;
    width: 40%;
}
header .header_body .box_text h1{
    font-size: 40px;
}
header .header_body .box_text p{
    color: #5b5b5b;
    font-size: 30px;
}
header .header_body .box_text a{
    font-size: 20px;
    text-decoration: none;
    padding: 2% 3%;
    color: #fff;
    background: #f1831e;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
header .header_body .box_img{
    width: 40%;
}
header .header_body .box_img img{
    width: 600px;
}
@media screen and (max-width:1024px){
    .menu-button{
        text-align: justify;
        display: block;
    }
    header{
        
        height: 50vh;
    }
    header nav{
        width: 100%;
        align-content: inherit;
    align-items: inherit;
    }
    header nav .menu ul li a{
        color: #fff;
        font-size: 25px;
    }
    header nav{
        background-color: #f1831e;
        text-align: left;
        position: absolute;
        top: 30px;
        z-index: 20;
        width: 100%;
        height: 100vh;
        left: -100%;
        margin: 0;
    }
    header nav .logo{
        display: none;
        margin: 0;
        background-color: #202028;
        text-align: center;
        align-content: center;
        width: 100%;
    }
    header nav .menu{

        text-align: center;
        width: 100%;
    }
    header nav .menu ul li{
        list-style: none;
        margin: 20px;
        float: none;
    }
    header .header_body .box_text h1{
        font-size: 30px;
    }
    header .header_body .box_text p{
        font-size: 20px;
    }
    header .header_body .box_text a{
        font-size: 20px;
    }
    header .header_body .box_img img{
        width: 300px;
    }
}
@media screen and (max-width:770px){
    
}
@media screen and (max-width:600px){
    header{
        height: 100vh;
    }
    header .header_body .box_text{
        width: 90%;
    }
    header .header_body .box_img{
        position: relative;
        width: 100%;
        height: 100%;
    }
    header .header_body .box_img{
        margin-top: 20%;
    }
    
}